<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script type="text/javascript" src="https://unpkg.com/vue"></script>

<body id="example">
  <form class="" action="index.html" method="post">
    姓名：
    <input type="text" v-model="data.name" placeholder=""><br>
    性别
    <input type="radio" id="man" value='One' v-model="data.sex">
    <label for="man">男</label>
    <input type="radio" id="male" value="Two" v-model="data.sex">
    <label for="male">女</label> <br>

    兴趣:
    <input type="checkbox" id="book" value="book" v-model="dara.interest">
    <label for="book">阅读</label>
    <input type="checkbox" id="swim" value="swim" v-model="data.interest">
    <label for="swim">游泳</label>
    <input type="checkbox" id="game" value="game" v-model="data.interest">
    <label for="game">游戏</label>
    <input type="checkbox" id="song" value="song" v-model="data.interest">
    <label for="song">唱歌</label>   <br>

    身份：
    <select name="" id="" v-model="data.identity">
      <option value="teacher" selected>教师</option>
      <option value="doctor">医生</option>
      <option value="lawyer">律师</option>
    </select>
  </form>
  <script type="text/javascript">
    new Vue({
      el:'#example',
      data:{
        data:{
          name:"",
          sex:'',
          interest:[],
          identity:''
        }
      }
    })
  </script>
</body>
</html>
