
#dy{
border-radius: 20px; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 9; background: linear-gradient(285.945deg, rgba(255, 255, 255, 0.26) 80%, rgba(255, 255, 255, 0) 80%); background-image:url(../z/img/tc4.jpg)no-repeat;
  background-position: center 0; width: 100%;
}

#first{
  height:550px; width: 480px; position: absolute;margin-left:35%;margin-top:5%;

}
.zcwz{ font-size: 34px;display: none;text-align: center;line-height: 100%;color: #8DB6CD;}

#first img{display:none; height: 90%; width: 100%;margin-top: 10%;}
.wz{display:none; position: absolute;font-size: 18px; font-weight: bold; color: #8DB6CD;text-align:center;height: 10%;width: 100%;}


#dr{height:550px;;width:480px; position: absolute;margin-left:35%;margin-top:5%;}
#dr img{display:none; height:500px; width: 100%;margin-top: 10%;}
.wz2{display:none; position: absolute;font-size: 18px; font-weight: bold; color: #8DB6CD;text-align:center;height: 10%;width: 100%;}


#ds{height:550px;;width:480px; position: absolute;margin-left:35%;margin-top:5%;}
#ds img{display:none; height:500px; width: 100%;margin-top: 10%;}
.wz3{display:none; position: absolute;font-size: 18px; font-weight: bold; color: #8DB6CD;text-align:center;height: 10%;width: 100%;}


#dh{height:550px;;width:480px; position: absolute;margin-left:35%;margin-top:5%;}
#dh img{display:none; height:500px; width: 100%;margin-top: 10%;}
.wz4{display:none; position: absolute;font-size: 18px; font-weight: bold; color: #8DB6CD;text-align:center;height: 10%;width: 100%;}


.zh{height: 100%; width: 100%; font-size: 30px; font-weight: bold;}
.zhwz{display: none;text-align: center;line-height: 100%;color: #8DB6CD;}
.zhwz1{display: none;text-align: center;line-height: 100%;color: #8DB6CD;}
.zhwz2{display: none;text-align: center;line-height: 100%;color: #8DB6CD;}

.zhwz3{display: none;text-align: center;line-height: 100%;color: #8DB6CD;}
